.sliderContainer {
  position: relative;
  width: 100%;
  height: 31vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 0%;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  width: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centreert de slide inhoud horizontaal */
  align-items: center; /* Centreert de slide inhoud verticaal */
  position: relative;
}

.flyerImage {
  width: 90%; 
  height: auto; 
  border-radius: 5px;
}

.indicators {
  position: absolute;
  bottom: 0px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeIndicator {
  background-color: rgba(0, 0, 0, 0.7);
}
