.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
}

.hamburgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

.hamburger {
  width: 8vw;
  height: auto;
}



