/* Custom Date Picker Styles */
.react-datepicker {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .react-datepicker__header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .react-datepicker__day--selected {
    background-color: #f1f1f1 !important;
  }
  
  .react-datepicker__day:hover {
    background-color: #e0e0e0 !important;
  }
  
  .react-datepicker__day--in-range {
    background-color: #f2f4f7 !important;
    color: #101828 !important;
  }
  
  .react-datepicker__day--range-start,
  .react-datepicker__day--range-end {
    background-color: #ffcc00 !important;
    color: #fff !important;
    border-radius: 50%;
  }
  
  .react-datepicker__day--range-start::before,
  .react-datepicker__day--range-end::before {
    background-image: linear-gradient(to right, #ffd177, #ffa2a3) !important;
  }
  
.option {
    margin-left: 1% !important;
    padding: 0.1em 1em !important;
    font-weight: 500 !important;
    border: 0.7px solid var(--brand-color) !important;
    border-radius: 15px !important;
    font-size: 15px !important;
    color: var(--brand-color) !important;
    background: var(--background) !important;
    width: 100% !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease, color 0.3s ease !important;
    text-align: left !important;
  }
  
.option.selected {
    background-color: var(--main-color) !important;
    color: var(--brand-color) !important;
    font-weight: bold !important;
    border-color: var(--brand-color) !important;
  }