.FilterOptions {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 0.5em;
  background: var(--light-background);
  padding: 1em;
}

.FilterTag {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1px solid var(--brand-color);
  font-weight: bold;
  font-size: 0.9em;
  color: var(--brand-color);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.FilterTag:hover:not(.removing) {
  background-color: rgb(230, 209, 253); 

}

.FilterTag.removing {
  transform: scale(1.1); 
  background-color: rgba(0, 0, 0, 0.2); 
  opacity: 0.7; 
  pointer-events: none; 
  transition: transform 0.4s ease, background-color 0.4s ease, opacity 0.4s ease;
}

.RemoveButton {
  background: none;
  border: none;
  margin-left: 0.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.CrossIcon {
  font-size: 1.2em;
  color: var(--brand-color);
}
