@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Definieer de nieuwe kleuren als variabelen */
  --main-color: #F4EBFF; /* Hoofdkleur: licht paars */
  --background: #FDFDFD; /* Licht achtergrondkleur */
  --brand-color: #4E5BA6; /* Licht achtergrondkleur */
  --letter: #181D27; /* Licht achtergrondkleur */
  --light-background: #f4ebff70; 
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--letter);
  background: var(--background);
  font-family: 'Inter', sans-serif !important;

 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.Container {
  display: flex;
  flex-direction: column; 
  gap: 2em; 
}

h1{
  color:var(--brand-color);
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

h2{
  padding: 0.7em;
  font-size: 1.6em;
  font-weight: bold;
}
h6{
  color:var(--brand-color);
  font-size: 1rem;
  font-weight:200 !important;
  text-align: center;

}

h3{
  font-size: medium;
  font-weight: 600;
}


label {
  font-weight: 600;
  margin-bottom: 8px;
}
