@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');

.sectionTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 26px; 
  padding: 0.7em;
  margin-bottom: 1rem;
}

.eventContainer {
  display: flex;
  overflow-x: auto;
  height: 42vh;
  width: 100%;
  padding: 0.85em;
  margin-top: -5%;
}

/* Zorg ervoor dat de link geen extra ruimte of veranderingen aanbrengt */
.eventLink {
  display: flex;          /* Maak de link zelf een flex container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  margin-right: 15px;
  width: 85%;
  padding: 10px;
  background: #cef4ff5a;
  box-shadow: 0.15rem 0.15rem 0rem rgb(100, 100, 100);
  border-radius: 5px;
  margin-bottom: 5%;
  transition: transform 0.3s ease;
  border: 0.5px solid rgba(0, 0, 0, 1);
  min-height: 200px;     
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  margin-right: 15px;
  width: 100%;
  min-height:200px;
}

.eventLink:hover {
  transform: translateY(-5px);
  box-shadow: 0.25rem 0.25rem 0rem rgb(100, 100, 100);
}

.event img {
  height: auto !important; 
  border-radius: 8px;
}

.eventDetails {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 8vh;
}

.eventDetails h2 {
  font-weight: 600; 
  font-size: 16px;
  margin-left: -10px;
}

.eventDetails p {
  font-size: 0.9rem;
  margin-top: -10px;
  color: #181d276e;
  font-weight: 400;
}

.eventImage {
  width: 300px !important; /* Standaard breedte */
  height: 150px !important; /* Standaard hoogte */
  object-fit: cover !important; /* Zorgt ervoor dat de afbeelding goed past */
  border-radius: 8px !important;
  display: block;
  aspect-ratio: 2 / 1; /* Houdt de hoogte-breedteverhouding correct */
}

.TicketButton {
  background-color: var(--brand-color);
  color: white;
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 2px 8px;
  gap: 8px;
  cursor: pointer;
  font-size: small;
  margin-top: 0%;
  margin-left: auto; /* Duwt de knop helemaal naar rechts */
}

.TicketIcon {
  font-size: small;
}
