.Events{
    padding: 0.7em;
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.EventsList{
    padding: 0.7rem;
}

.Event {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    padding: 0.7em;
    margin-top: -5%;
    gap: 1em;
  }
  .EventsList > .Event:first-of-type {
    border-top: none;
  }
.Flyer {
    width:80px;
    height: 70px;
    margin-top: 5%;
    border-radius: 10px;
  }
  .EventItem {
    padding: 0.7em;
    border-radius: 8px;
  }  

.EventName{
  font-size: medium;
  font-weight: 600;
}

.EventInfo{
  font-size:medium;
  color: #666666af;
  font-style: italic;
  font-weight: 500;
}

.EventDetails{
  margin-top: 5%;
}

.EventDivider {

  border: 0.1px solid #cccccc46; 
  width: 100%; 
  margin: 0; 
}

.EventButton {
  display: flex; 
  justify-content: center; 
align-items: center; 
flex-direction: row; 
  background-color: var(--brand-color); 
  color: var(--main-color);
  font-weight: 600;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  height: 46px;  
  min-width: 200px;  
  margin-top: 5%;
 margin-left: 25%;
}

.EventButton svg {
  margin-left: 8px; 
}

.EventList{
  display: flex;
  flex-direction: column;
}

.TicketButton {
  background-color: var(--main-color);
  color: var(--brand-color);
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 2px 8px;
  gap: 8px;
  cursor: pointer;
  font-size: small;
  margin-top: 50%;

}

.TicketButton:hover {
  background-color: var(--brand-color-dark);
}

.TicketIcon {
  font-size: small;
}
