.filtersContainer {
    display: flex;
    flex-direction: row;
    align-items: center; /* Zorgt ervoor dat alle items verticaal gecentreerd zijn */
    gap: 0.75rem; 
    padding: 1.6rem;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    position: relative; 
    z-index: 10000;

}

.FilterStripes {
    font-size: 24px; 
    display: flex;
    align-items: center; /* Zorg ervoor dat het icoon gecentreerd is ten opzichte van de knoppen */
    margin-right: 5rem; /* Ruimte tussen het icoon en de knoppen */
}


.filter {
    position: relative;
}

.filterButton {
    border: 1px solid rgba(0, 0, 0, 0.100);
    font-weight: 500;
    padding: 0.35rem;
    cursor: pointer;
    text-align: left;
    min-width: 110px; 
    z-index: 2; 
    border-radius:6px;
    display: flex;
    align-items: center; 
    gap: 0.5rem; 
}

.filterButtonSelected {
    background-color: #E2E9FF; 
    color: #3D70F5; 
    border: 0.6px solid #3D70F5
}

.FilterIcon{
    font-size: larger;
}

.FilterStripes {
    min-width: 30px;  
    min-height: 32px; 
    display: flex;
    align-items: center;
    margin-right: 0.8rem; 
  }
  
