.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  background:#F4EBFF;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  margin-top: 5%;
}

.hamburgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-top: 5%;
}

.hamburger {
  width: 9vw;
  height: auto;
}



.headerHome {
  background-color: #8e44ad; 

}
