.HeroSection{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap:2em;
    background-color: var(--main-color);
    min-height: 40vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.HeroSection2{
    margin-top: 5%;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.EventButton {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: row; 
  background-color: var(--button); 
  color: var(--brand-color);
  font-weight: 600;
  border: 1px solid #4e5ba670;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  height: 46px;  
  min-width: 187px;  
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.EventButton:hover {
  background-color: #c6ffc4;
  transform: scale(1.05); 
}

.EventButton:active {
  transform: scale(0.95);
  background-color: #c6ffc4; 
}


.EventButton svg {
    margin-left: 8px; 
  }