.autocomplete {
   width: 100%;
   display: flex; 
   flex-direction: row; 
   align-items: center;
   justify-content: center; 
 }
 
 .input {
  width: 75%; 
  max-width: 600px; 
  padding: 0.8rem;
  border-radius: 0%;
  font-size: 1.2rem;
  outline: none;
  color: black;
  background: #F5F5F5;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
 }
 
  .input::selection {
  background: #588878;
  color: #fff;
  }
  
  .input::placeholder {
  color: #ccc;
  }
  
  .SearchButton {
    background: #E2E9FF;
    padding: 1.07rem;
    font-size: 1.2rem;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease; 
  }
  
  .SearchButton:hover {
    background: #c6d3fd;
  }
  
 
  